@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Outfit:wght@100;200;300;400;500;600;700;800&;900&display=swap');

:root {
    --nav_body_main_dark_color: #303030;
    --nav_body_main_dark_color_lv2: #3f3f3f;
    --nav_body_main_dark_color_lv3: #646464;
    --body_shadow_color: rgba(29, 29, 29, 0.39);
    --nav_right_part_letter_color: #FFF;
    --main_body_letter_color: #35E1B6;
    --main_body_letter_color_lv2: #1d3a33;
    --main_body_letter_color_lv3: #0b2e26;
    --main_body_letter_color_lv4: #0e3b31;
    --footer_text_half_transparent: rgba(255, 255, 255, 0.3);
    --footer_text_half_transparent_white: rgba(0, 0, 0, 0.3);
}
.light-theme{
    --nav_body_main_dark_color: #ffffff;
    --nav_body_main_dark_color_lv2: #c5c5c5;
    --nav_body_main_dark_color_lv3: #929292;
    --body_shadow_color: rgba(233, 233, 233, 0.39);
    --nav_right_part_letter_color: #000000;
    --main_body_letter_color: #35E1B6;
    --main_body_letter_color_lv2: #1d3a33;
    --main_body_letter_color_lv3: #0b2e26;
    --main_body_letter_color_lv4: #0f4136;
    --footer_text_half_transparent: rgba(0, 0, 0, 0.3);
    --footer_text_half_transparent_white: rgba(255, 255, 255, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    user-select: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #272727;
    color: var(--nav_right_part_letter_color);
}

/* navbar styling */

.main_nav {
    display: flex;
    justify-content: space-between;
    background: var(--nav_body_main_dark_color);
    padding: 15px;
    height: 70px;
    box-shadow: 0px 4px 24px 10px var(--body_shadow_color);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav_left {
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: var(--main_body_letter_color);
    font-weight: 900;
}

.left_logo svg {
    border-radius: 50%;
}

.left_name {
    font-size: 1.6rem;
}

.nav_right {
    display: flex;
    align-items: center;
    column-gap: 20px;
    color: var(--nav_right_part_letter_color);
    font-weight: 300;
}

#search {
    display: flex;
    column-gap: 15px;
    align-items: center;
    flex-direction: row-reverse;
}

#search_bar {
    border-radius: 10px;
    height: 2rem;
    width: 15rem;
    padding-left: 0.8rem;
    border: none;
    transition: all ease 0.5s;
}

#search_bar:focus {
    outline: 2px solid var(--main_body_letter_color);
}

.same_border {
    border: 1px solid var(--nav_right_part_letter_color);
    border-radius: 10px;
    padding: 0.4rem 1.3rem;
}

.right_search:hover {
    cursor: pointer;
    color: var(--main_body_letter_color);
}

.logout {
    position: absolute;
    z-index: 999999999999;
    right: 0;
    padding-top: 80px
}

/* body styling */

.same_border:hover {
    cursor: pointer;
    border: 1px solid var(--main_body_letter_color);
    color: var(--main_body_letter_color);
    transition: 0.3s;
}

.main_body_container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.body_parts {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    background: var(--nav_body_main_dark_color);
    padding: 1.8rem 1rem;
    height: 100px;
    overflow: hidden;
}

.active_extend_section {
    height: auto;
    overflow: auto;
    transition: 0.3s;
}

.active_extend_section .body_parts_upper_part .main_body_three_parts_arrow {
    rotate: 180deg;
    transition: 0.3s;
}

.body_parts_upper_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.body_parts_lower_part {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    row-gap: 7px;
    color: var(--nav_right_part_letter_color);
    background-color: var(--nav_body_main_dark_color_lv3);
    padding: 20px;
    /* filter: blur(10px); */
}

.main_body_three_parts_text {
    font-size: 2.5rem;
    font-weight: 700;
}

.main_body_three_parts {
    color: var(--nav_right_part_letter_color);
    transition: 0.3s ease-in-out;
}

.main_body_three_parts:hover {
    transition: 0.3s ease-in-out;
    color: var(--main_body_letter_color);
    cursor: pointer;
}


.img1 {
    height: 40px;
    width: 40px;
    background: #fff;
}

.img1:hover {
    background-color: #7a0000;
}

.main_body_three_parts_images {
    display: flex;
    column-gap: 20px;
    width: calc(100% - 242.38px);
}

.main_body_three_parts_arrow {
    padding: 15px;
    background: var(--nav_body_main_dark_color_lv2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.main_body_three_parts_arrow:hover {
    border: 1px solid var(--nav_body_main_dark_color_lv3);
}

.sub_section_card {
    background: var(--nav_body_main_dark_color_lv2);
    padding: 20px;
    max-height: 400px;
    border-radius: 20px;
    /* backdrop-filter: blur(10px); */
}

.extend_section_body {
    /* display: ; */
    align-items: center;
}

/* footer design */
.footer-06 {
    background: radial-gradient(ellipse at center, var(--main_body_letter_color_lv2) 0%, #00000000 100%);
}

.subheading {
    color: var(--footer_text_half_transparent);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading-section {
    text-transform: uppercase;
    font-size: 30px;
}

.form {
    padding: 3px 3px 3px 20px;
    background-color: var(--nav_right_part_letter_color);
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form input {
    border: none;
}

.form input:focus {
    outline: 0;
}

.form button {
    background: var(--main_body_letter_color_lv2);
    border: none;
    padding: 15px 30px;
    border-radius: 40px;
    color: var(--nav_right_part_letter_color);
}

.heading-section {
    text-transform: capitalize;
}

.fa-arrow-turn-up::before {
    transform: rotateY(90deg)
}