.main_body_container{
  padding: 100px 20px 30px 20px;
}
.main_body_container h1{
  text-align: center;
}
.cinemas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 0 0;
  gap: 20px;
}
.cinema{
  height: min-content;
  width: 250px;
  background-color: rgb(58, 58, 58);
  border-radius: 10px;
  position: relative;
}
.cinema img{
  height: auto;
  width: 250px;
  border-radius: 10px;
}
.name{
  font-size: 1.3rem;
  font-weight: 600;
  background-color: antiquewhite;
  color: black;
  padding: 20px;
  height: 150px;
  transform: translateY(0%);
  border-radius: 10px;
  position: absolute;
  width: 250px;
  transition: 0.5s linear;
  opacity: 0;
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.name input {
  border: none;
  background-color: black;
  border-radius: 30px;
  padding: 5px 10px;
  color: wheat;
  font-size: 1.5rem;
  font-weight: 600;
}
.cinema:hover .name{
  transform: translateY(-100%);
  /* display: block; */
  opacity: 1;
}