.main_body_movie {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#main_parts1 h1 {
    width: 100%;
    font-weight: 900;
    display: flex;
    place-content: center;
}

#main_parts2 {
    padding: 20px;
    display: flex;
    gap: 20px;
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.det_all {
    font-size: 1.3rem;
    font-weight: 400;
}

.trailer_customize {
    height: auto;
    width: 400px;
}

#main_parts3 {
    padding: 20px;
    position: relative;
}

#heading h3 {
    font-size: 2rem;
    font-weight: 600;
}

.first_play {
    cursor: pointer;
    z-index: 10;
    font-size: 50px;
    position: absolute;
    padding-top: 75px;
    padding-left: 155px;
}
.thumbnail{
    height: auto;
    width: 400px;
    position: absolute;
    z-index: 9;
}

#fetch_movie{
    padding: 15px 20px;
    border-radius: 40px;
    border: none;
}