*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_body_movie {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.trailer_customize {
    height: auto;
    width: 400px;
}

#main_parts3 {
    position: relative;
    width: max-content;
}

.first_play {
    cursor: pointer;
    z-index: 10;
    font-size: 50px;
    position: absolute;
    padding-top: 75px;
    padding-left: 155px;
}
.thumbnail{
    height: auto;
    width: 400px;
    position: absolute;
    z-index: 9;
}